<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
   
    <link rel="stylesheet" href="admin.css">
    
</head>
<body>

    <div>
        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">

            <form>
              
    
              <!-- Name input -->
              <div class="form-outline mb-4">
                <input type="text" id="name" name="name" class="form-control" />
                <label class="form-label" for="registerName">Name</label>
              </div>
    
              <!-- Username input -->
              <div class="form-outline mb-4">
                <input type="text" id="username"  name="username" class="form-control" />
                <label class="form-label" for="registerUsername">Username</label>
              </div>
    
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="email" name="email" class="form-control" />
                <label class="form-label" for="registerEmail">Email</label>
              </div>
    
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
              </div>
    
              <!-- Repeat Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="repeatpassword" onkeyup="cp()" onchange="cp()" name="repeatPassword" class="form-control" />
                <label class="form-label" for="RepeatPassword">Repeat password</label>
              </div>
              <!-- Roles -->
              <div class="form-outline mb-4">
              <select name="roles" id="roles" class="form-label">
                <option id="selectedrole" value=1>User</option>
              </select>
              </div>
    
    
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                  aria-describedby="registerCheckHelpText" />
                <label class="form-check-label" for="registerCheck">
                  I have read and agree to the terms
                </label>
              </div>
    
              <!-- Submit button -->
              <button type="button" onclick="addUser()" class="btn btn-primary btn-block mb-3">addUser</button>
            </form>
          </div>
        </div>
        <!-- Pills content -->
    </div>

    <div>
        <h1>Welcome <%=logedinuser%></h1>
        
        <div>
            <div>
                    <label for="search"></label>
                    <input name="search" id="search" onkeyup="search()" onchange="showSelectedData()"  type="text" >
            </div>
        </div>
        <div>
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>username</th>
                        <th>email</th>
                        <th>button</th>
                    </tr>   
                </thead>
                <tbody id="tbody">
                <%for(let i=0;i<user.length;i++){%>
                    <tr>
                        <td><%=user[i].id%></td> 
                        <td><%=user[i].name%></td>
                        <td><%=user[i].username%></td>
                        <td><%=user[i].email%></td>
                        <td>
                            <span></span>
                            <button onclick="editData(this)" >Edit</button>
                            <button  onclick="deleteData(this)">delete</button></td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        </div>
    </div>
    
    
    <a href="clearCookie"><button type="button" >Logout</button></a>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="admin_new.js"></script>
<script src="adminAPI.js"></script>
</html>